@import '../../scss/mixins';
@import '../../scss/media';
.item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: clamp(0.5rem, 2.5vw, 1.5rem);
	min-width: 200px;
}

.title {
	font-weight: 700;
	font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.address {
	font-weight: 400;
	font-size: 0.875rem;
}
