@import 'normalize.css';

@import './scss/reset';
@import './scss/vars';
@import './scss/media';
@import './scss/mixins';
@import './scss/container';
@import './scss/fonts';

//* {
//	border: 1px solid red;
//}

body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: 1.2;
	color: $color;
	background: $background;
}
