@import '../../scss/mixins';
@import '../../scss/media';
.items {
	@include grid(20rem, 1rem);
	justify-items: center;
	padding: clamp(1.2rem, 4vw, 3rem) clamp(1.2rem, 3vw, 2.4rem);
	border-radius: 5.5rem;
	box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
	background: radial-gradient(
		2900.76% 50.13% at 50% 53.89%,
		rgba(58, 52, 86, 0.95) 0%,
		#211e2e 100%
	);
}
.item {
	display: flex;
	align-items: center;
	gap: clamp(1rem, 2.5vw, 1.5rem);
}

.title {
	font-weight: 700;
	font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.address {
	font-weight: 400;
	font-size: 0.875rem;
}
