@import '../../scss/mixins';
@import '../../scss/media';
@import '../../scss/vars';

.items {
	display: flex;
	justify-content: space-between;
	justify-items: center;
	padding: clamp(1.2rem, 4vw, 3rem) clamp(1.2rem, 3vw, 2.4rem);
	border-radius: $border-radius-big;
	box-shadow: $box-shadow;
	background: $radial-gradient;
	@include media($tablet) {
		display: none;
	}
	div {
		//width: 33%;
		flex-shrink: 1;
		width: max(200px, 100%);
		&:not(:last-child):after {
			content: '';
			width: 2px;
			height: 100%;
			background: #c0b7e8;
			margin-right: 2rem;
		}
	}
}
