@import '../../scss/vars';
.wrapper {
	border-radius: $border-radius-big;
	padding: clamp(1rem, 5vw, 6rem) 0;
	background-image:
		linear-gradient(rgba(48, 44, 66, 0.79), rgba(48, 44, 66, 0.79)),
		url('../../../public/images/bg-box.jpg');
	background-size: cover;
	background-position: center center;
}

.box {
	text-align: center;
	h2 {
		display: grid;
		place-items: center;
	}
}
